.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.title {
  width: 100%;
  margin: 0;
  font-size: 4rem;
  text-align: center;
}

.subtitle {
  width: 100%;
  padding-left: 60vw;
  color: rgba(0, 0, 0, .85);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}

.description {
  width: 70%;
  color: rgba(0, 0, 0, .55);
  font-size: 1rem;
  line-height: 1.5;
}

.btn {
  margin: 10px auto;

  &-start,
  &-docs {
    width: 45px;
    height: 15px;
    padding: 1px;
    position: relative;

    &-link {
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 15px;
      top: 0;
      left: 0;
      font-size: 6px;
    }
  }

  &-start {
    margin-right: 10px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  flex-basis: 30%;
  margin: 1rem;
  padding: 1.2rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &-subtitle {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }

  &-content {
    margin: 0;
    font-size: .8rem;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #12a182;
  border-color: #12a182;
}

.logo {
  height: 1em;
}

@media (max-width: 768px) {
  .subtitle {
    padding-left: 40vw;
  }

  .btn {

    &-start,
    &-docs {
      width: 100px;
      height: 40px;

      &-link {
        line-height: 40px;
        font-size: 12px;
      }
    }
  }

  .grid {
    flex-direction: column;
    width: 100%;
  }
}
